body {
    font-family: Arial;
    padding: 20px;
    background: #aaaaaa9f;
  }
  
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
}

.container { 
    margin:auto;
    width: 75%;
}

.row {
    margin-left: 15px;
    margin-right: 15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.col-1,
.col-2,
.col-3,
.col-4 {
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
}

.col-1,
.col-2,
.col-3,
.col-4 {
    float: left;
}
.col-1{
    width:100%;
}
.col-2 {
    width: 30%;
}

.col-3 {
    width: 16%;
}
.col-4{
    width:45%;
}

.skilled {
    font-size: larger;
    font-weight: bold;
    color: green; 
}

.working {
    font-size: larger;
    font-weight: bold;
    color: lightgreen; 
}

.basic {
    font-size: larger;
    font-weight: bold;
    color: lightcoral; 
}

.incomplete {
    font-size: larger;
    font-weight: bold;
    color: red;
}

.center {
    text-align: center;
}

figure {
    display:block;   
    margin:1em 0;
    border:1px solid #ccc;
    border-radius:3px;
    background:#eee;
}

figure figcaption {
    display:block;
    padding:5px 10px 4px 10px;
    border-bottom:1px solid #ccc;
    border-radius:3px 3px 0 0;
    font-weight:bold;
    background:#ddd;
    color:#777;
}

pre, 
pre code{
    display:block;
    margin:0;
    cursor:text;
    font:normal normal normal 1em/1.4 monaco, courier, monospace;
    white-space:pre;
}

pre {
    padding:10px;
    font-size:0.8em;
}

.focus{
    -webkit-transform : scale(1.05); 
    transform : scale(1.05); 
    outline : none;
    border-color : #9ecaed;
    box-shadow : 0 0 10px #9ecaed;  
}

.click{
    border-color : #c92d18;
    box-shadow : 0 0 10px #c92d18;
}