body {
    margin-top: 105px;
}

button {
    border-radius: 15px;
}

.header, .footer {
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    z-index: 10;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}

body {
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

.my-handle {
    cursor: move;
    cursor: -webkit-grabbing;
    padding-right: 5px;
}

li {
    cursor: move;
    cursor: -webkit-grabbing;
}

#list, #search {
    top: 115px;
    min-height: 40%;
    width: 80%;
    border: 1px solid #888;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

#search {
    /* position:absolute; */
    background-color: #fefefe;
    display: none;
}

#list {
    display: block;
    background: white;
}

#list button {
    margin: 0px 10px 0px 10px;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

ul {
    list-style: none;
    display: list-item;
    padding: 0px;
}

li {
    padding: 10px 40px;
    margin: 10px;
}

.grid {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));*/
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.wide {
    grid-column-start: 1;
    grid-column-end: 5;
}

#flex {
    display: flex;
}

#advanced-1, #advanced-2 {
    min-height: 100%;
}

.purchased {
    opacity: .5;
    text-decoration: line-through;
    background: grey;
}

.purchasedButton, .deleteButton {
    background: grey;
    float: left;
}

#advanced-2 .purchasedButton, #advanced-2 .deleteButton {
    display: none;
}

#advanced-1 .purchasedButton, #advanced-1 .deleteButton {
    display: block;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 15px;
    overflow: auto;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.close {
    color: #2196F3;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px 15px 0px 0px;
}

.modal-body {
    padding: 2px 16px;
}

.modal-content label {
    float: left;
    clear: left;
    width: 15%;
    text-align: right;
    padding: 12px 20px 12px 20px;
}

.modal-content input {
    display: inline-block;
    float: left;
}

input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.tooltip {
    display: block;
    border: 1px solid #888;
}

.tooltip .tooltiptext {
    display: inline-block;
    visibility: hidden;
    width: 80%;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1100;
    bottom: 103%;
    left: 50%;
    margin-left: -40%;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#total {
    display: none;
    position: fixed;
    top: 56px;
    left: 0px;
    border: 1px solid #888;
    background: white;
    padding: 15px;
    margin: 0px;
    border-radius: 15px;
    z-index: 101;
}

.mute img, .unmute img {
    position: fixed;
    top: 10px;
    left: 0px;
    border: 1px solid #888;
    background: white;
    padding: 15px;
    margin: 0px;
    border-radius: 15px;
    z-index: 101;
    clear: right;
    height: 15px;
}

#total p {
    margin: 0px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #2196F3;
    border-bottom: 16px solid #2196F3;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
    transform: translateY(-50%);
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#search .invalid, .modal-content .invalid {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    border-color: red;
    border-style: solid;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben';
    margin: 0px;
}

p, div, button {
    font-family: 'Nobile';
}

button {
    padding: 5px;
    transition: transform .2s;
}

button:hover {
    transform: scale(1.1);
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}

input#mute {
    display: none;
}

.mute img {
    display: none;
}

#un-mute {
    display: none;
}

input#un-mute:checked~.unmute img {
    display: none;
}

input#un-mute:checked~.mute img {
    display: initial;
}