body {
    margin-top: 105px;
}

.header, .footer {
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}

body {
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

.my-handle {
    cursor: move;
    cursor: -webkit-grabbing;
    padding-right: 5px;
}

#search {
    background-color: #fefefe;
    border: 1px solid #888;
    max-width: 1200px;
    min-height: 40%;
    width: 80%;
    padding: 15px;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

#list {
    display: block;
    width: 42.5%;
    /* margin-left: 5%;
    margin-right: 0px; */
    background: white;
    margin: auto;
}

#list button{
    margin:0px 10px 0px 10px;
}

ul {
    list-style: none;
    display: list-item;
    padding: 0px;
}

li {
    padding: 10px 40px;
    background: grey;
    margin: 10px;
}

.grid {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));*/
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.wide {
    grid-column-start: 1;
    grid-column-end: 5;
}

#flex {
    display: flex;
}

#advanced-1, #advanced-2{
    min-height:10px;
}