body {
    margin-top:105px;
}

.header, .footer {
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}

body {
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

.my-handle {
    cursor: move;
    cursor: -webkit-grabbing;
    padding-right: 5px;
}

#search {
    width: 42.5%;
    height: 100%;
    margin-right: 5%;
    margin-left: 5%;
    float: right;
    background: white;
    padding: 10px;
}

#list {
    display: block;
    width: 42.5%;
    margin-left: 5%;
    margin-right: 0px;
    background: white;
}

ul {
    list-style: none;
    display: list-item;
    padding: 0px;
}

li {
    padding: 10px 40px;
    background: grey;
    margin: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

#flex {
    display: flex;
}