body{
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

.footer{
    background: rgba(255, 255, 255, 0.5);
}
.footer{
    position: fixed;
    bottom: 0;
    left:0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

button{
    height:8em;
    width:16em;
}

#color{
    background: #676470;
    transition:all 0.5s ease;
}

#color:hover{
    background: #3a92e6;
    color:white;
}

#fade{
    opacity:.3;
    transition:all 0.3s linear;
    max-width:50%;
}

#fade:hover{
    opacity:1;
}

#size{
    transition:all .1s ease-in-out;
}

#size:hover{
    transform:scale(1.05);
}

#size:active{
    transform:scale(.95);
}